.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*const wrapper = shallow(<App />)

  //Find a component called TodoInput, and fill it with "Todo Item"
  //wrapper.find('TodoInput').text('Todo Item')

//Finds the first TodoItem being rendered, and checks the text is the same as what was inputted
  //expect(wrapper.find('TodoItem')[0].text()).toEqual('Todo Item')*/
